@import 'main';

$color-primary: #cccccc;
$color-white: #ffffff;
$color-black: #000;

$first-color: #ffc000;
$second-color: #92d050;
$third-color: #bdd6ee;

.task-2 {
  padding: 3rem 3rem 1.5rem 3rem;

  .row {
    display: flex;
    flex-wrap: wrap;

    .item {
      height: 200px;
      flex: 1 1 50%;
      font-size: 0.8rem;
      padding: 1rem;

      &:first-child {
        background-color: $first-color;
      }

      &:nth-child(2) {
        flex: 1 1 50%;
        background-color: $second-color;
      }

      &:last-child {
        background-color: $third-color;
      }
    }
  }
}

.task-3-1 {
  width: 100%;
  padding: 1.5rem 3rem 1.5rem 3rem;

  .table {
    width: 100%;
    position: relative;
    height: 300px;
    overflow-y: auto;

    .thead {
      position: sticky;
      display: flex;
      top: 0;
      width: 100%;
      background-color: $color-geyser;

      .th {
        border: 1px solid $color-primary;
        flex: 1 1 20%;
        font-size: 0.7rem;
        padding: 0.3rem;
        word-break: break-word;

        &:first-child,
        &:nth-child(2) {
          flex: 0 0 100px;
        }
      }
    }

    .tbody {
      .table-row {
        display: flex;
        width: 100%;

        &:nth-child(odd) {
          background-color: $color-not-white;
        }

        .td {
          border: 1px solid $color-primary;
          flex: 1 1 20%;
          font-size: 0.8rem;
          padding: 0.3rem;
          word-break: break-word;

          &:first-child,
          &:nth-child(2) {
            flex: 0 0 100px;
          }
        }
      }
    }
  }
}

@media (min-width: 961px) {
  .task-2 {
    .row {
      flex-wrap: nowrap;

      .item {
        flex: 1 1 30%;

        &:nth-child(2) {
          flex: 1 1 50%;
        }
      }
    }
  }
}

@media (max-width: 481px) {
  .task-2 {
    .row {
      flex-wrap: wrap;

      .item {
        flex: 1 1 100%;
      }
    }
  }

  .task-3-1 {
    .table {
      .thead {
        .th {
          flex: 1 1 10%;

          &:last-child {
            display: none;
          }

          &:first-child,
          &:nth-child(2) {
            flex: 0 0 100px;
          }
        }
      }

      .tbody {
        .table-row {
          flex-wrap: wrap;

          .td {
            flex: 1 1 10%;

            &:last-child {
              flex: 1 1 100%;
            }

            &:first-child,
            &:nth-child(2) {
              flex: 0 0 100px;
            }
          }
        }
      }
    }
  }
}
