/* roboto-100 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../css/fonts/roboto-v27-latin_cyrillic-100.eot');
  src:
    local(''),
    url('../css/fonts/roboto-v27-latin_cyrillic-100.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-100.woff2') format('woff2'),
    url('../css/fonts/roboto-v27-latin_cyrillic-100.woff') format('woff'),
    url('../css/fonts/roboto-v27-latin_cyrillic-100.ttf') format('truetype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-100.svg#Roboto') format('svg');
}

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../css/fonts/roboto-v27-latin_cyrillic-300.eot');
  src:
    local(''),
    url('../css/fonts/roboto-v27-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-300.woff2') format('woff2'),
    url('../css/fonts/roboto-v27-latin_cyrillic-300.woff') format('woff'),
    url('../css/fonts/roboto-v27-latin_cyrillic-300.ttf') format('truetype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-300.svg#Roboto') format('svg');
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/roboto-v27-latin_cyrillic-regular.eot');
  src:
    local(''),
    url('../css/fonts/roboto-v27-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'),
    url('../css/fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff'),
    url('../css/fonts/roboto-v27-latin_cyrillic-regular.ttf') format('truetype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-regular.svg#Roboto') format('svg');
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../css/fonts/roboto-v27-latin_cyrillic-500.eot');
  src:
    local(''),
    url('../css/fonts/roboto-v27-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-500.woff2') format('woff2'),
    url('../css/fonts/roboto-v27-latin_cyrillic-500.woff') format('woff'),
    url('../css/fonts/roboto-v27-latin_cyrillic-500.ttf') format('truetype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-500.svg#Roboto') format('svg');
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../css/fonts/roboto-v27-latin_cyrillic-700.eot');
  src:
    local(''),
    url('../css/fonts/roboto-v27-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-700.woff2') format('woff2'),
    url('../css/fonts/roboto-v27-latin_cyrillic-700.woff') format('woff'),
    url('../css/fonts/roboto-v27-latin_cyrillic-700.ttf') format('truetype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-700.svg#Roboto') format('svg');
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../css/fonts/roboto-v27-latin_cyrillic-900.eot');
  src:
    local(''),
    url('../css/fonts/roboto-v27-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-900.woff2') format('woff2'),
    url('../css/fonts/roboto-v27-latin_cyrillic-900.woff') format('woff'),
    url('../css/fonts/roboto-v27-latin_cyrillic-900.ttf') format('truetype'),
    url('../css/fonts/roboto-v27-latin_cyrillic-900.svg#Roboto') format('svg');
}

/* Merryweather-300 - latin_cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: url('../css/fonts/merriweather-v22-latin_cyrillic-300.eot');
  src:
    local(''),
    url('../css/fonts/merriweather-v22-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-300.woff2') format('woff2'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-300.woff') format('woff'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-300.ttf') format('truetype'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-300.svg#Roboto') format('svg');
}

/* Merryweather-regular - latin_cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../css/fonts/merriweather-v22-latin_cyrillic-regular.eot');
  src:
    local(''),
    url('../css/fonts/merriweather-v22-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-regular.woff2') format('woff2'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-regular.woff') format('woff'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-regular.ttf') format('truetype'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-regular.svg#Roboto') format('svg');
}

/* Merryweather-700 - latin_cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('../css/fonts/merriweather-v22-latin_cyrillic-700.eot');
  src:
    local(''),
    url('../css/fonts/merriweather-v22-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-700.woff2') format('woff2'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-700.woff') format('woff'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-700.ttf') format('truetype'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-700.svg#Roboto') format('svg');
}

/* Merryweather-900 - latin_cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url('../css/fonts/merriweather-v22-latin_cyrillic-900.eot');
  src:
    local(''),
    url('../css/fonts/merriweather-v22-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-900.woff2') format('woff2'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-900.woff') format('woff'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-900.ttf') format('truetype'),
    url('../css/fonts/merriweather-v22-latin_cyrillic-900.svg#Roboto') format('svg');
}

