@font-face {
	font-family: "iconfont";
	src: url('../css/fonts/iconfont.eot');
	src: url('../css/fonts/iconfont.eot?#iefix') format('eot'),
		url('../css/fonts/iconfont.woff2') format('woff2'),
		url('../css/fonts/iconfont.woff') format('woff'),
		url('../css/fonts/iconfont.ttf') format('truetype'),
		url('../css/fonts/iconfont.svg#iconfont') format('svg');
}

.icon:before {
	font-family: "iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-16413:before {
	content: "\E001";
}
