//@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,500,600,700,800,900|Roboto:100,300,400,500,700,900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
//font-family: 'Roboto', sans-serif;
//font-family: 'Lato', sans-serif;
//@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Vollkorn:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

//Colors
$error-color: #cc00;
$delete-color: #cc071e;
$success-color: #00c788;

$canary: #e2ff51;
$green-yellow: #c5ff51;
$conifer: #c2db46;
$sushi: #a0b539;
$sushi: #8cb539;

$special-color: #f3e0be;

$brand-color: #ffb174;
$text-color: #5d5d5a;
$text-hover-color: #6e3b3b;
$highlight-brand-color: #ee5a5a;
$contrast-color: #b31e6f;
$success-color: #22eaaa;

$malibu: #46c3db;
$boston_blue: #39a0b5;
$crail: #b54e39;
$persimmon: #db5e46;

$approved-color: #1e90ff;
$success-green: #adff2f;
$done-yellow: #ffd700;

$dark_blue: #0020d8;
$blue: #0028ff;

$dodger-blue: #169eff;
$azure-radiance: #0094ff;
$lochmara: #006ebc;
$havelock-blue: #4690db;
$bright-turquoise: #0cc6ff;
$pumpkin: #ff7716;
$meteor: #d86513;
$vermilion: #ff450c;
$tia-maria: #d83a0a;
$salem: #0f9b2d;
$green: #008000;
$darkgreen: #006400;
$malachite: #17e844;
$spring-green: #23ff53;
$lima: #4dd822;
$bright-green: #5aff28;
$purple-heart: #781bc4;
$electric-violet: #9c23ff;
$shocking-pink: #e817ba;
$violet-eggplant: #9b0f7d;

$malibu: #66d6ff;
$shakespeare: #51abcc;
$sun: #ffab11;
$gamboge: #d6900e;
$mako: #40464f;
$black: #020202;
$kashmir-blue: #3b556f;
$pickled-bluewood: #273849;
$curious-blue: #1085b0;
$atoll: #0c6889;
$midnight-blue: #001f3f;
$blue-charcoal: #000c19;

$radical-red: #ff3550;
$brick-red: #d62c43;
$red-orange: #ff3c35;

$eucalyptus: #1d7c4c;
$jungle-green: #25a364;
$jewel: #135635;
$gable-green: #153f35;
$lochinvar: #2e8c76;
$conifer: #adcb56;

$primary-blue-dark: #004d80;
$primary-blue: #0077b3;
$primary-blue-light: #cde5f1;
$primary-blue-lighter: #e6f2f8;
$primary-blue-lightest: #f3f9fc;
$secondary-blue: #00294d;
$brand-blue: #00a1d4;
$status-danger: #de2362;
$status-warning: #f7b228;
$status-success: #00875a;
$gray-darker: #657787;
$gray-dark: #909599;
$gray: #cfd2d4;
$gray-light: #e1e3e6;
$gray-lighter: #f5f8fa;
$gray-lightest: #fff;
$athens-gray: #eef1f4;
$category-family: #0b7288;
$category-vehicle: #364a81;
$category-finance: #7a01c4;
$category-pet: #a8014e;
$category-home: #d32483;
$category-travel: #d54203;

$color-black: #000;
$color-fiord: #455a64;
$color-cutty-sark: #546e7a;
$color-lynch: #607d8b;
$color-boulder: #777;
$color-regent-gray: #78909c;
$color-gull-gray: #90a4ae;
$color-tower-gray: #b0bec5;
$color-geyser: #cfd8dc;
$color-porcelain: #eceff1;
$porcelain: #f7f8f9;
$color-not-white: #fefefe;
$color-white: #fff;

$color-red: #f00;
$color-blue: #00f;

// Blue grey

$m-snow: #fafafa;
$m-whitesmoke: #f5f5f5;
$m-whisper: #eee;
$m-gainsboro: #e0e0e0;
$m-silver: #bdbdbd;
$m-nobel: #9e9e9e;
$m-grey: #757575;
$m-dim-gray: #616161;
$m-charcoal: #424242;
$m-nero: #212121;

// Grey

$m-alice-blue: #eceff1;
$m-pattens-blue: #cfd8dc;
$m-heather: #b0bec5;
$m-botticelli: #90a4ae;
$m-bermuda-grey: #78909c;
$m-hoki: #607d8b;
$m-bismark: #546e7a;
$m-san-juan: #455a64;
$m-atomic: #37474f;
$m-oxford-blue: #263238;

// Blue

$m-royal-blue: #2962ff;
$m-dodger-blue: #2979ff;
$m-cornflower-blue: #448aff;
$m-maya-blue: #82b1ff;
$m-cobalt: #0d47a1;
$m-denim: #1565c0;
$m-navy-blue: #1976d2;
$m-dodger-blue: #1e88e5;
$m-dodger-blue-2: #2196f3;
$m-summer-sky: #42a5f5;
$m-maya-blue-2: #64b5f6;
$m-light-sky-blue: #90caf9;
$m-pale-cornflower-blue: #bbdefb;

// Light Blue

$m-cobalt: #01579b;
$m-cerulean: #0277bd;
$m-pacific-blue: #0288d1;
$m-pacific-blue-2: #039be5;
$m-deep-sky-blue: #03a9f4;
$m-summer-sky: #29b6f6;
$m-malibu: #4fc3f7;
$m-light-sky-blue: #81d4fa;
$m-columbia-blue: #b3e5fc;

// Orange

$m-harley-davidson-orange: #bf360c;
$m-harley-davidson-orange-2: #d84315;
$m-cinnabar: #e64a19;
$m-outrageous-orange: #f4511e;
$m-outrageous-orange-2: #ff5722;
$m-tomato: #ff7043;
$m-atomic-tangerine: #ff8a65;
$m-rose-bud: #ffab91;
$m-your-pink: #ffccbc;

//Indigo

$m-midnight-blue: #1a237e;
$m-egyptian-blue: #283593;
$m-tory-blue: #303f9f;
$m-cerulean-blue: #3949ab;
$m-free-speech-blue: #3f51b5;
$m-chetwode-blue: #5c6bc0;
$m-wild-blue-yonder: #7986cb;
$m-echo-blue: #9fa8da;
$m-periwinkle: #c5cae9;

// Deep purple

$m-persian-indigo: #311b92;
$m-blue-gem: #4527a0;
$m-daisy-bush: #512da8;
$m-purple-heart: #5e35b1;
$m-purple-heart-2: #673ab7;
$m-slate-blue: #7e57c2;
$m-true-v: #9575cd;
$m-biloba-flower: #b39ddb;
$m-fog: #d1c4e9;

// Indigo

$m-indigo: #4a148c;
$m-royal-purple: #6a1b9a;
$m-vivid-violet: #7b1fa2;
$m-vivid-violet-2: #8e24aa;
$m-dark-orchid: #9c27b0;
$m-deep-lilac: #ab47bc;
$m-medium-orchid: #ba68c8;
$m-wisteria: #ce93d8;
$m-thistle: #e1bee7;

// Red

$m-fire-brick: #b71c1c;
$m-persian-red: #c62828;
$m-persian-red-2: #d32f2f;
$m-cinnabar: #e53935;
$m-red-orange: #f44336;
$m-sunset-orange: #ef5350;
$m-geraldine: #e57373;
$m-sweet-pink: #ef9a9a;
$m-we-peep: #ffcdd2;

// Green

$m-san-felix: #1b5e20;
$m-japanese-laurel: #2e7d32;
$m-japanese-laurel-2: #388e3c;
$m-fruit-salad: #43a047;
$m-fruit-salad: #4caf50;
$m-fern: #66bb6a;
$m-de-york: #81c784;
$m-moss-green: #a5d6a7;
$m-granny-apple: #c8e6c9;

// Light green

$m-green-house: #33691e;
$m-vida-loca: #558b2f;
$m-limeade: #689f38;
$m-chelsea-cucumber: #7cb342;
$m-mantis: #8bc34a;
$m-olivine: #9ccc65;
$m-feijoa: #aed581;
$m-reef: #c5e1a5;
$m-frostee: #dcedc8;

// Lime

$m-pesto: #827717;
$m-lucky: #9e9d24;
$m-bahia: #afb42b;
$m-fuego: #c0ca33;
$m-las-palmas: #cddc39;
$m-manz: #d4e157;
$m-mindaro: #dce775;
$m-jonquil: #e6ee9c;
$m-chiffon: #f0f4c3;

// Yellow

$m-pumpkin: #f57f17;
$m-lightning-yellow: #f9a825;
$m-saffron: #fbc02d;
$m-gorse: #fdd835;
$m-gorse-2: #ffeb3b;
$m-corn: #ffee58;
$m-witch-haze: #fff176;
$m-pale-prim: #fff59d;
$m-lemon-chiffon: #fff9c4;

// Amber

$m-safety-orange: #ff6f00;
$m-dark-orange: #ff8f00;
$m-orange-peel: #ffa000;
$m-selective-yellow: #ffb300;
$m-amber: #ffc107;
$m-sunglow: #ffca28;
$m-kournikova: #ffd54f;
$m-golden-glow: #ffe082;
$m-banana-mania: #ffecb3;

//Orange

$m-persimmon: #e65100;
$m-mango-tango: #ef6c00;
$m-tangerine: #f57c00;
$m-dark-orange: #fb8c00;
$m-orange-peel: #ff9800;
$m-lightning-yellow: #ffa726;
$m-koromiko: #ffb74d;
$m-chardonnay: #ffcc80;
$m-navajo-white: #ffe0b2;

//Animation

$default-animation-speed: 0.3s;
$fast-animation-speed: 0.2s;

$transition-default: 0.2s ease;
$transition-quickly: 0.3s ease;
$transition-slowly: 0.6s ease;

$default-transition: 0.3s linear all;

//Border radius

$default-border-radius: 5px;
$pill-border-radius: 20rem;
$circle-border-radius: 50%;

//Box shadow

$box-shadow-tooltip: 0 2px 10px 0 rgba(0, 41, 77, 0.07);
$box-shadow-hover: 0 2px 10px 0 rgba(0, 41, 77, 0.1);
$box-shadow-modal: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
$box-shadow-default: 0 2px 6px 0 rgba(0, 41, 77, 0.07);
$box-shadow-card: 0 2px 6px 0 rgba(0, 41, 77, 0.07), 0 -1px 0 0 rgba(0, 0, 0, 0.09),
  -1px 0 0 0 rgba(0, 0, 0, 0.07), 1px 0 0 0 rgba(0, 0, 0, 0.07),
  0 1px 0 0 rgba(0, 0, 0, 0.07);

//Opacity

$opacity-30: 0.3;
$opacity-50: 0.5;
$opacity-75: 0.75;
$opacity-85: 0.85;

//Z-index

$z-index-deep: -999999;
$z-index-default: 1;
$z-index-masked: 100;
$z-index-mask: 200;
$z-index-sticky: 300;
$z-index-header: 400;
$z-index-toast: 500;
$z-index-dropdown: 600;
$z-index-overlay: 700;
$z-index-spinner: 800;
$z-index-modal: 900;
$z-index-popup: 950;

//Line height

$line-height-x-small: 1.1;
$line-height-small: 1.25;
$line-height-medium: 1.5;

//Font size

$font-size-xxxx-large: 4.5rem;
$font-size-xxx-large: 3rem;
$font-size-xx-large: 2.25rem;
$font-size-x-large: 1.5rem;
$font-size-large: 1.25rem;
$font-size-medium: 1rem;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-x-small: 0.75rem;

html {
  font-family: 'Roboto', sans-serif;
}

body {
  //height: 100vh;
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  //background-color: $gray-dark;
  //overflow-x: hidden;
  min-width: 320px;
}

//Z-index variables

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

//Media queries

$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$wideScreen: 1200px;
$ultraWideScreen: 1408px;

$media-query-xx-small: '(max-width: 22.5em)';
$media-query-x-small: '(max-width: 35.9375em)';
$media-query-small: '(min-width: 36em)';
$media-query-medium: '(min-width: 48em)';
$media-query-large: '(min-width: 62em)';
$media-query-x-large: '(min-width: 64.0625em)';
$media-query-x-large: '(min-width: 76.25em)';
$media-query-xxx-large: '(min-width: 106.25em)';

@media print {
  .hidden-print {
    display: none !important;
  }
}

.load-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(211, 211, 211);
  z-index: 44;
  overflow: hidden;
  border-radius: 5px;

  .activity {
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(
      to left,
      rgba(251, 251, 251, 0.05),
      rgba(251, 251, 251, 0.3),
      rgba(251, 251, 251, 0.6),
      rgba(251, 251, 251, 0.3),
      rgba(251, 251, 251, 0.05)
    );
    background-image: -moz-linear-gradient(
      left,
      rgba(251, 251, 251, 0.05),
      rgba(251, 251, 251, 0.3),
      rgba(251, 251, 251, 0.6),
      rgba(251, 251, 251, 0.3),
      rgba(251, 251, 251, 0.05)
    );
    background-image: -webkit-linear-gradient(
      left,
      rgba(251, 251, 251, 0.05),
      rgba(251, 251, 251, 0.3),
      rgba(251, 251, 251, 0.6),
      rgba(251, 251, 251, 0.3),
      rgba(251, 251, 251, 0.05)
    );
    animation: loading 1s infinite;
    z-index: 45;
  }
}

@keyframes loading {
  0% {
    left: -45%;
  }

  100% {
    left: 100%;
  }
}

//@media (min-width:320px)  {  } smartphones, iPhone, portrait 480x320 phones
//@media (min-width:481px)  {  } portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.
//@media (min-width:641px)  {  } portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
//@media (min-width:961px)  {  } tablet, landscape iPad, lo-res laptops ands desktops
//@media (min-width:1025px) {  } big landscape tablets, laptops, and desktops
//@media (min-width:1281px) {  } hi-res laptops and desktops

// ----------- Non-Retina Screens -----------
// @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { }
// ----------- Retina Screens -----------
// @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) { }
//  ----------- Apple Watch -----------
// @media (max-device-width: 42mm) and (min-device-width: 38mm) { }
// ----------- Moto 360 Watch -----------
// @media (max-device-width: 218px) and (max-device-height: 281px) { }
